<html>

<head>
    <title> exportacion de csv </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>

<body>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1>Prueba Django 3 para Linets </h1>
      <p class="lead text-muted">html generado desde template con boostrap 4</p>
      <p>
        <a href="{% url 'Export' %}" style="font-size: 3rem " class="btn btn-primary my-2 ">Exportar Csv</a>
      </p>
    </div>
  </section>
</main>

</html>